<!-- ユーザー情報 -->
<div class="col-xs-3">
    <h2>User info</h2>
    <table>
    <%= attachment_image_tag user, :profile_image, :fill, 60, 60, class:"attachment user profile_image", fallback: "no_image.jpg" %>
    <tbody>
      <tr>
      </tr>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
  </tbody>
  </table>

<div class="row">
<% if user == current_user %>
  <p><%= link_to "プロフィール編集", edit_user_path(user), class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench" %></p>
<% else %>
  <p><%= link_to "プロフィール編集", user_path(current_user), class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench" %></p>
<% end %>
</div>
</div>