<div class="body">
  <div class="container">
    <p id="notice"></p>
    <div class="row">

<!-- ユーザー情報 -->
<%= render 'books/user', user: @user %>

<!-- 新規投稿 -->
<%= render 'books/book', book: @book %>

<!-- 本の詳細 -->
<div class="col-xs-9">
<h2>Book detail</h2>

  <table class="table">
  <tbody>
      <tr>
        <td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class:"attachment user profile_image", fallback: "no_image.jpg" %><%= link_to @user.name, user_path(@user) %></td>
        <!-- 画像からプロフィール詳細にとべるように後で設定する -->
        <td><%= link_to @book2.title, book_path(@book2)  %></td>
        <td><%= @book2.body %></td>
        <% if @user == current_user %>
        <td><%= link_to "Edit", edit_book_path(@book2) %></td>
        <td><%= link_to "Destroy", destroy_book_path(@book2), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
        <td></td>
        <% end %>
      </tr>
  </tbody>
  </table>
</div>
    </div>
  </div>
</div>
