<div class="body">
  <div class="container">

    <p id="notice"></p>


    <div class="row">

  <div class="col-xs-3">
    <h2>User info</h2>
    <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class:"attachment user profile_image", fallback: "no_image.jpg" %>
    <tbody>
      <tr>
      </tr>
      <tr>
    	  <th>name</th>
    	  <th><%= @user.name %></th>
      </tr>
      <tr>
    	  <th>introduction</th>
    	  <th><%= @user.introduction %></th>
      </tr>
	</tbody>
	</table>

<div class="row">
<% if @user == current_user %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user), class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench" %></p>
<% end %>
</div>

<h2>New book</h2>
 <%= form_for(@book) do |f| %>
  <div class="field row">
    <label for="book_title">Title</label>
    <%= f.text_field :title, class:"col-xs-12 book_title" %>
  </div>

  <div class="field row">
    <label for="book_opinion">Opinion</label>
    <%= f.text_area :body, class:"col-xs-12 book_body" %>
  </div>

  <div class="actions row">
    <%= f.submit 'Create Book', class:"btn btn-primary col-xs-12" %>
  </div>
 <% end %>

<div class="col-xs-9">
<h2>Book detail</h2>

  <table class="table">
  <!-- <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead> -->

  <tbody>
      <tr>
        <td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class:"attachment user profile_image", fallback: "no_image.jpg" %></td>
        <!-- 画像からプロフィール詳細にとべるように後で設定する -->
        <td><%= @book2.title %></td>
        <td><%= @book2.body %></td>
        <td><%= link_to "Edit", edit_book_path(@book2) %></td>
        <td><%= link_to "Destroy", destroy_book_path(@book2), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
      </tr>
  </tbody>
  </table>
</div>

</div>
    </div>
</div>
