<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <span>Bookers</span>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
          <li><a class="glyphicon glyphicon-home home" href="/"> Home</a></li>
          <li><a class="glyphicon glyphicon-link about" href="/home/about"> About</a></li>
          <li><a class="glyphicon glyphicon-edit sign_up" href="/users/sign_up"> sign up</a></li>
          <li><a class="glyphicon glyphicon-log-in sign_in" href="/users/sign_in"> login</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="body">
  <div class="container">

        <p id="notice"></p>


        <h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <label for="user_name">Name</label><br>
    <%= f.text_field :name, autofocus: true, class:"name", id:"user_name" %>
  </div>
  <div class="field">
    <label for="user_password">Password</label><br>
    <%= f.password_field :password, autocomplete: "off", class:"password", id:"user_password" %>
  </div>
  <div class="field">
    <%= f.check_box :remember_me %>
    <label for="user_remember_me">Remember me</label>
  </div>

  <div class="actions">
    <%= f.submit "Log in", class:"btn btn-primary" %>
  </div>
<% end %>

  <a class="sign_up" href="/users/sign_up">Sign up</a><br>
  <a href="/users/password/new">Forgot your password?</a><br>
   </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-3 col-xs-offset-9">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>
